
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
}
body {
    background-repeat: no-repeat;
    background: rgb(101,101,101);
background: linear-gradient(90deg, rgba(101,101,101,1) 0%, rgba(170,170,168,0.7234244039412641) 50%, rgba(101,101,101,0.7346288857339811) 100%);
}

/*--navbar---*/
.header {
    background: rgb(231,221,71);
    background: linear-gradient(90deg, rgba(231,221,71,0.711922268907563) 9%, rgba(230,178,64,0.8015581232492998) 48%, rgba(233,219,50,0.7287289915966386) 85%);

}

.navbar {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    height: 100px;
}

li {
    padding: 5px;
    transition: transform .7s;
    text-transform: uppercase;
}

li:hover {
    transform: scale(1.5);
}

li a:active {
    color:blue;
}


li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}  

.menu ul {
    width: 700px;
    justify-content: space-around;
    list-style-type: none;
    font-size: 22px;
    font-family: Poppins;
    display: flex;
}

/*---navbar---*/

/*---Container------*/

.nav-2{
    width: 100%;
    margin-top: 10px;
}

.container {
    width: 100%;
    margin-top: 10px;
    }


    .container-crypto {
        padding:100px;
    }


.imazhet {
    width: 1300px;
    margin: auto;
}

.imazhet img {
    height: 50px;
    margin-left: 70px;
}

h2 {
    font-size: 50px;
    text-align: center;

}

p {
    font-size: 20px;
    text-align: center;
}

.col-2 {
    margin:auto;
    display: flex;
    width: 960px;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}

.col-2-reverse {
    margin:auto;
    display: flex;
    width: 960px;
    height: 600px;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

}

.bitcoin ,
.bitcoin-text {
    height: 400px;
    width: 400px;
}

table, td ,tr{
    border: 0.1px solid rgb(122, 122, 122);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 50px
  }


.bitcoin img {
    height: 380px;
}

.ethereum ,
.ethereum-text {
    height: 400px;
    width: 400px;
}

.ethereum img {
    height: 380px;
}

.solana,
.solana-text {
    height: 400px;
    width: 400px;
}

.solana img {
    height: 380px;
}

.binance,
.binance-text {
    height: 400px;
    width: 400px;
}

.binance img {
    height: 380px;
}

.cardano,
.cardano-text {
    height: 400px;
    width: 400px;
}

.cardano img {
    height: 380px;
}

.luna,
.luna-text {
    height: 400px;
    width: 400px;
}

.luna img {
    height: 380px;
}


.polkadot,
.polkadot-text {
    height: 400px;
    width: 400px;
}

.polkadot img {
    height: 380px;
}

.tron,
.tron-text {
    height: 400px;
    width: 400px;
}

.tron img {
    height: 380px;
}

.mana,
.mana-text {
    height: 400px;
    width: 400px;
}

.mana img {
    height: 380px;
}

.dogecoin,
.dogecoin-text {
    height: 400px;
    width: 400px;
}

.dogecoin img {
    height: 380px;
}

/*----Container----*/




    /*--- Footer ---*/

    .footer {
        
        margin: 0px auto;
        height:350px;
        background: rgb(231,221,71);
background: linear-gradient(90deg, rgba(231,221,71,0.711922268907563) 9%, rgba(230,178,64,0.8015581232492998) 48%, rgba(233,219,50,0.7287289915966386) 85%);
    }

    .col-2-footer{
        height:301px;
        display: flex;
        justify-content: space-around;
    }

    .linket {
        height: 300px;
        width:300px;
        display: grid;
        justify-content: center;
    }

    .socialmedia {
        height: 300px;
        width: 300px;
        display: grid;
        justify-content: center;
    }

    .h3-footer {
        font-size:26px;
        font-family: "Helvetica Neue",Helvetica,Arial;
        height: 50px;
        width: 150px;
        display: grid;
        align-items: center;
        justify-content: center;
    }



    .logo-footer {
        font-size:10px;
        text-transform: uppercase;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 240px;
        width: 150px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .logo-footer a {
        text-decoration: none;
        color:black
    }

    .logo-footer a:active {
         color: blue
    }

    .logo-footer img  {
        height: 40px;
    }

    .copyright {
        height: 30px;
    }

    .copyright p{
        font-size: 18px;
    }

    /*-------Footer ------ */





    /*----crypto page ------*/

    .box {
        background-color: lightgrey;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 50px;
      }
      
      .wrapper {
        width: 600px;
        height: 600px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: 100px 100px 100px 100px;
        grid-auto-flow: column;
        margin-left: 20px;
        margin-top: 20px;
      }

      .box-1{
          background-image: url('./images/2.png');
      }

      .box-2 {
          background-color: blue;
      }

      .puzzle-h2 {
          color: rgb(122, 17, 99);
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }


      .puzzle-images {
          height: 800px;
          width: 800px;
          margin: 0 auto;
          display:grid;
          grid-template-columns: 300px 300px 300px;
      }

      .item {
          height: 300px;
          border: 1px solid black;
      }

      .item:hover{
          transform: scale(1.1);
      }

      .item img {
          height: 300px;
      }

      .iframe {
          display:flex;
      }

      .contact-me {
          height: 500px;
          display:flex;
          justify-content: space-around;
          align-items: center;
      }

      .contact-info {
          background-color:rgba(245, 235, 235, 0.425);
          height:450px; 
          width: 400px;
          text-align: left;
      }

      .contact-info h4{
          font-size:34px;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          margin-left: 10px;
      }

      .contact-info p {
          font-size:20px;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          text-align: left;
          margin-left:10px;
      }
      /*----crypto page ------*/



      /*------About Page --------*/

      .about{
          width:1000px;
          margin: 0 auto;
          display: flex;
          justify-content:space-around;
      }

      .about-img img{
          height: 400px;
      }

      .about-text {
        background-color:rgba(245, 235, 235, 0.425);
      }

      .about-text h4 {
        font-size:34px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 10px;
    }

    .about-text p {
        font-size:14px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: left;
        margin-left:10px;
    }
    /*------About Page --------*/


    /*----Media screen 544px for mobile-----*/

    @media screen and (max-width:544px) {

        * {
            background-repeat: no-repeat;
        }

        body {
            background-color: cover;
        }

        .header {
            width: 100%;
        }

        .menu {
            width: 80%;
        }

        .menu ul {
            width: 70%;
        }

        .logo img {
            height: 50px;
        }

        .imazhet {
            width: 80%;
            text-align: center;
        }

        .imazhet img {
            height:50px;
            margin: 0 auto;
        }

        .navbar {
            width: 100%;
        }

        li a {
            font-size:13px;
        }

        .container {
            width: 100%;
            background-repeat: no-repeat;
        }

        .col-2 {
            width: 100%;
            display: inline-block;
            align-items: center;
            margin-top: 20px;
        }

        .col-2 p {
            width: 90%;
            margin-left: 15px;
        }

        .col-2-reverse {
            width:100%;
            display:inline-block;
            justify-content: flex-end;
            margin-top: 20px;
        }

        table {
            margin: 0px auto;
            width: 100%;
        }


        .col-2-reverse p {
            width: 90%;
            margin-left: 15px;
        }

    

        .socialmedia {
            width: 100%;
        }

        .bitcoin,
        .ethereum,
        .solana,
        .binance,
        .cardano,
        .luna,
        .polkadot,
        .tron,
        .mana,
        .dogecoin {
            width: 100%;
        }

        .bitcoin-text,
        .ethereum-text,
        .solana-text,
        .binance-text,
        .cardano-text,
        .luna-text,
        .polkadot-text,
        .tron-text,
        .mana-text,
        .dogecoin-text {
            width: 100%;
        } 

        .tron img {
            width: 100%;
            height: auto;
        }

        h2,
        p {
            width: 100%;
        }

        /*--about mobile--*/

        .container-crypto {
            width: 100%;
            padding: 0px;
        }

        .about {
            width: 100%;
            font-size: 20px;
            display: inline-block;
        }

        .about-img {
            width:100%;

        }

        .about-img img {
            height:350px;
            width: 100%;
        }

        .about-text {
            width: 100%
        }

        .about-text p {
            width: 90%;
            font-size: 20px;
            text-align: center;
            margin-left: 20px;
        }

        .about-text h4 {
            text-align: center;
        }

        h2 {
            font-size:20px;
        }
      /*----about mobile ----*/

      /*---contact mobile ----*/

      .contact-me {
          width: 100%;
          display: inline-block;
      }

      .contact-info {
          width: 100%;
          height: 330px
      }

      .contact-info h4 {
          width: 100%;
          margin: 0px;
          text-align: center;
      }

      .contact-info p {
        width: 100%;
        margin: 0px;
        text-align: center;
      }
      /*---contact mobile ----*/

      /*---crypto mobile ----*/

      .item {
          width: 100%;
          height: 100px;
      }

      .item img{
        width: 100%;
        height: 100px;
    }

    .puzzle {
        align-items: center;
        height:500px
    }

    .puzzle-images {
        height: 300px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 120px 120px 120px;
        justify-content: center;
    }
    }


    /*---Landscape mobile---*/

    @media screen and (max-width: 850px) and (orientation: landscape) {
    
        body {
            background-color: cover;
        }

        .header {
            width: 100%;
        }

        .menu {
            width: 80%;
        }

        .menu ul {
            width: 70%;
        }

        .logo img {
            height: 50px;
        }

        .imazhet {
            width: 100%;
            text-align: center;
        }

        .imazhet img {
            height:77px;
            margin: 0 auto;
        }

        .navbar {
            width: 100%;
        }

        li a {
            font-size:15px;
        }

        .container {
            width: 100%;
            background-repeat: no-repeat;
        }

        .col-2 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:center;
            margin-top: 20px;
        }

        .col-2 p {
            width: 80%;

        }

        .col-2-reverse {
            width:100%;
            display:flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .col-2-reverse p {
            width: 80%;
            margin-left: 15px;
        }

        .bitcoin {
            margin: 0px auto;

        }

        .socialmedia {
            width: 100%;
        }

        .bitcoin,
        .ethereum,
        .solana,
        .binance,
        .cardano,
        .luna,
        .polkadot,
        .tron,
        .mana,
        .dogecoin {
            width: 100%;
        }

        .bitcoin-text,
        .ethereum-text,
        .solana-text,
        .binance-text,
        .cardano-text,
        .luna-text,
        .polkadot-text,
        .tron-text,
        .mana-text,
        .dogecoin-text {
            width: 100%;
        } 

        .tron img {
            width: 100%;
            height: auto;
        }

        h2,
        p {
            width: 100%;
        }

        .container-crypto {
            padding:0px;
            width: 100%;
        }

        .about {
            width: 100%;
        }

        .about-text p {
            width: 90%;
        }   

        .contact-me {
            display: inline-block;
            margin-left: 20px;
        }

        .contact-info {
            width: 100%;
            height:330px;
        }

        .contact-info h4 {
            text-align: center;
        }

        .contact-info p {
            text-align: center;
        }

        .item {
            height:150px;
            width: 100%
        }

        .item img {
            height: 150px;
            width: 100%
        }

        .puzzle-images {
            height: 450px;
            grid-template-columns: 250px 250px 250px;
            justify-content:center;
        }

    }

    /*---Landscape mobile---*/


    /*----media screen 840px for Tablet----*/

    @media screen and (min-width:550px) and (max-width:840px){

        * {
            background-repeat: no-repeat;
        }

        .header {
            width: 100%;
        }

        .navbar {
            justify-content:space-between;
            width: 100%;
        }

        .menu ul {
             width: 500px;
        }

        .imazhet {
            width:100%;
            text-align:center 
        }

        .imazhet img {
            margin:0 auto;
            height:70px;
        }

        .col-2 {
            width:100%;
        }

        .col-2-reverse {
            width:100%;
        }

        .bitcoin,
        .ethereum,
        .solana,
        .binance,
        .cardano,
        .luna,
        .polkadot,
        .tron,
        .mana,
        .dogecoin {
            width: 100%;
        }

        .bitcoin-text,
        .ethereum-text,
        .solana-text,
        .binance-text,
        .cardano-text,
        .luna-text,
        .polkadot-text,
        .tron-text,
        .mana-text,
        .dogecoin-text {
            width: 100%;
        } 

        .container-crypto {
            padding:0px;
            width: 100%;
        }

        .about {
            width: 100%;
        }

        .about-text p {
            width: 90%;
        }   

        .contact-me {
            display: inline-block;
            margin-left: 10px;
        }

        .contact-info {
            width: 100%;
            height:330px;
        }

        .contact-info h4 {
            text-align: center;
        }

        .contact-info p {
            text-align: center;
        }

        .item {
            height:200px;
            width: 100%
        }

        .item img {
            height: 200px;
            width: 100%
        }

        .puzzle-images {
            height: 600px;
            grid-template-columns: 250px 250px 250px;
            justify-content:center;
        }
    }

    /*----media screen 840px for Tablet----*/

    /*----Landscape tablet -----*/

    @media screen and (max-width:1200px) and (orientation: landscape) {

        .imazhet {
            margin: 0px auto;
            width: 100%;
            text-align:center;
        }

        .imazhet img {
            margin: 0px;
            height: 100px;
        }

       .container-crypto {
           padding: 20px
       }

       .item {
        height:300px;
        width: 100%
    }

    .item img {
        height: 300px;
        width: 100%
    }

    .puzzle {
        height:1000px;
    }

    .puzzle-images {
        height: 800px;
        grid-template-columns: 350px 350px 350px;
        justify-content:center;
    }
    }











      









